@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CalSans';
  src: url('../public/fonts/Cal_Sans/CalSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'RajdhaniRegular';
  src: url('../public/fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}